# Ignore for Angular frontend
/frontend/node_modules/
/frontend/dist/
/frontend/.angular/
/frontend/.env

# Ignore for ASP.NET backend
/backend/bin/
/backend/obj/
/backend/*.user
/backend/*.vs
/backend/appsettings.*.json

# General
*.log
*.tmp
.vscode/
.env
.DS_Store
